</body>

<footer>
  <a class="footer-link" href="https://www.linkedin.com/in/imarchit19/" target="_blank" rel="noopener"><i class="fab fa-linkedin fa-2x"></i></a>
  <a class="footer-link" href="https://www.noteshub.co.in/blog/author/imarchit19/" target="_blank" rel="noopener"><i class="fab fa-wordpress fa-2x"></i></a>
  <a class="footer-link" href="https://github.com/imarchit19" target="_blank" rel="noopener"><i class="fab fa-github fa-2x"></i></a>
  <p class="copyright">© 2019 <a href="https://imarchit19.github.io/Personal-Website/" class="copyright">Archit
      Gupta</a>. All Rights Reserved.</p>
</footer>

</html>
